* {
    transition: all 0.3s;
}

.button-default{
    padding: 15px 20px;
    font-size: larger;
    margin-left: 14px;
    /* font-family: 'Bruno Ace SC', cursive; */
    border: 1px solid transparent;
    background-color: rgb(253,98,98);
    color: rgb(20,21,23);
    border-radius: 8px;
}

.button-default:hover{
    color: white;
    background-color: rgb(20,21,23);
    border: 1px solid white;
    cursor: pointer;
}

body {
    margin: 0;
    padding: 0;
    background-color: rgb(20,21,23);
    color: white;

}

.content h1{
    font-size: 75px;
    padding: 14px 16px;
    font-family: 'Bruno Ace', cursive;
}

.top-bar {
    font-family: 'Bruno Ace SC', cursive;
    display: flex;
    /* height:8vh; */
    align-items: center;
    justify-content: space-between;
    padding: 10px 25px;
}

.top-bar a {
    color: white;font-size: small;
    text-decoration: none;
    padding: 14px 16px;
}

.jump-links {
    display: flex;
}

.top-bar a:hover {
    color: rgb(253,98,98);
}

#get-started {
    padding: 5px 20px;
    margin-left: 12px;
    font-family: 'Bruno Ace SC', cursive;
    border: 1px solid white;
    background-color: rgb(20,21,23);
    color: white;
    border-radius: 8px;
}
.content{
    height:100vh;
    background-image: url(images/background.png);
    background-position: top;
    background-size: cover;
}

#get-started:hover {
    color: rgb(20,21,23);
    background-color: rgb(101, 123, 212);
    border: 1px solid transparent;
    cursor: pointer;
}

.icon {
    position: fixed;
    top: 0;
    right: 0;
    display: none;
}

@media screen and (max-width: 600px) {
    .icon {
        display: block;
    }

    .jump-links {
        /* display: none; */
        position:absolute;
        opacity: 0;
        text-align: center;
        align-items: center;
        width: 100vw;
        display: flex;
        flex-direction: column;
    }

    .top-bar {
        flex-direction: column;
    }

    .active {
        background-color: rgb(253,98,98);
        position: static;
        opacity: 1;
        transition: opacity 1s linear;
        display: flex;
        flex-direction: column;
    }

    .active a {
        width: 94.5%;
        color: black;
        padding: 8px 14px;
    }

    .active a:hover {
        background-color: rgb(225, 80, 80);
        /* width:100vw; */
        color: white;
        padding: 14px 16px;
    }

    #get-started {
        width: 100vw;
        margin: 0;
        border: none;
        background-color: green;
        border-radius: 0%;
        padding: 8px;
    }

    #get-started:hover {
        border: none;
        padding: 14px 16px;
    }
}